<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bice</title>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/dist/js/bootstrap.min.js">
    <script src="/assets/jquery/dist/jquery.min.js"></script>
    <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://code.angularjs.org/1.6.9/angular.js"></script>
    <script src="/assets/js/controllers.js?444"></script>
    <script src="/assets/js/services.js"></script>
</head>

<body ng-app="app.controllers">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Indices Economicos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav" ng-controller="Inicio">
                <ul class="navbar-nav" ng-repeat="x in names">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ x.url }}">{{ x.name }} <span class="sr-only">(current)</span></a>
                    </li>
                    
                </ul>
            </div>
    </nav>
	<div class="jumbotron jumbotron-fluid">            

            <div class="container">
                <h1 ng-controller="Dolar" class="text-primary">{{titulo}}</h1>
                <p class="text-secondary"  ng-controller="Dolar" >{{subtitulo}}</p>
                <div class="p-3 mb-2 bg-secondary text-white"><h1 ng-controller="Dolar" class="text-danger">{{value}}</h1></div>
            </div>
            
    </div>
</body>

</html>